<li class='authorList__item'>
    <p class='author__name'>{{author.firstName}} {{author.secondName}}</p>
    <div class='btnGroup'>
        <a class='btn btn--secondary' href='/edit/author/{{author.id}}'>Редактирование автора</a>
        <a class='btn btn--link' href='author/{{author.id}}'>Список книг</a>
    <div>
</li>